ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: white;
}


ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
/*inserimento dello / tra i link*/
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #a5a8c0;
  content: "/\00a0";
}
/*colore scritte*/
ul.breadcrumb li, ul.breadcrumb li a  {
  color: #a5a8c0;
  text-decoration: none;
}

/* colore al passaggio*/
ul.breadcrumb li a:hover {
  color: #66ccff;
  text-decoration: none;
}