section.collections article {
	display: inline-block;
	text-align: left;
	margin-left: 40px;
}

section.collections article header{
	font-weight: bold;
}

section.collections article img {
	width: 6.8vw;
	height: 6.8vw;

	padding-bottom: 0.3vw;
	padding-left: 0.2vw;
	padding-right: 0.2vw;
	object-fit: cover; /*immagini non sono stretchate*/
}

section article img.collections_img1{
	width: 14vw;
	height: 14vw;
	float:left;
}

section article img.collections_img2{
	float: left;
}

section.collections article header a {
	text-decoration: none;
	color:black;
}