footer{
  border-width: 15px;
  bottom:0; 
  height:180px; 
  margin-top: 20px;
  box-shadow: 0 0 2px 4px rgba(214, 214, 214, 0.5);
}

footer h1 {
  text-align: center;
  margin-top: 50px;
}

footer h2 {
  text-align: center;
}