footer{
  border-width: 15px;
  bottom:0;
  margin-top: 20px;
  box-shadow: 0 0 0px 0px rgba(214, 214, 214, 0.5);
  text-align: center;
}

footer h1, footer p {
  margin-top: 50px;
}

footer ul li {
	display: inline;
	padding-left: 10px;
}