body {
      font-family: 'Karla';
}

/*HEADER*/

header {
      margin-top: 10px;
}

header nav{
      align-items : center;
}

header nav img{
      padding-left: 40px;
      padding-right: 40px;
}

header nav h1{
      font-size: 45px;
}

.header-menu, footer {
      width: 100%;
      text-align: center;
}

.header-menu a{
      color: #000000;
      text-decoration: none; 
}

.logo{
      float: left;
      height: 50px;

}

.social{
      float: right;
      height: 25px;
      padding-left: 5px;
      padding-right: 5px;
}

hr {
      background-color: #cc99ff;
      height: 4px; 
      border: 0;
}

/*END OF HEADER*/

/* FOR ALL SECTIONS */
section {
      padding-top:10px;
      margin-top: 10px;
      text-align: center;
}

section img{
      width:30%;
      transition: transform .5s; /*imposta transizione di 0.5 secondi*/
      padding-left:10px;
      padding-right:10px;
}

section img:hover{
      opacity: 0.7;
      filter: alpha(opacity=70);
      cursor: hand;
      transform: scale(1.05); /*tipo di trasformazione = riscala l'immagine del dal 100% 105%*/
}

section h2{
      font-weight: 900;
}
/*END OF FOR ALL SECTIONS*/

/*COMMON ELEMENTS*/

.header-menu a b, footer b, .centered b{
      color: #cc99ff;
}

footer button, section button, .slideshow button {
      margin-top: 40px;
}

footer button, section button, .slideshow button {
      border-radius: 10px;
      width: 20vw;
      height: 5vw;
      border: none;
      color: #fff;
      background-color: #cc99ff;
}
      
footer button:hover, section button:hover, .slideshow button:hover {
      background-color: #e6ccff;
      cursor: hand;
}

/*END OF COMMON ELEMENTS*/