section article.widget2 img{
	width: 100px;
}

section article.widget1{
	float: left;
}

section article.widget2{
	float: right;
}

section article.widget1 iframe {
	width: 220px;
	height: 150px;
}

section article.widget2 img {
	height: 150px;
	width: 150px;
}

section article.widget1 header, section article.widget2 header{
	margin-bottom: 10px;
}